#### Algorithm Credentials
PLANNING_START_HOUR = 9
#####
END_OF_DAY_HOUR = 21
####
DESTINATION_MAP = {"X": "North", "Y": "South"}
####
HT_PARAMS = {"same": {"mean": 10.0, "std": 3.0}, "cross": {"mean": 18.0, "std": 5.0}, "east": {"mean": 17.0, "std" : 4.0}}
#### Always keep it stochastic handling as "TRUE"
STOCHASTIC_HANDLING = True
####
RANDOM_SEED = 50
#### 
PARK_SHEET = "ParkingSpots"
####
EQUIP_SHEET = "EquipmentAvailability"
####
START = "2025-08-28 09:00:00"
####
files = {"Very High" : "VersionXL.xlsx", "High": "VersionL.xlsx", "Medium": "VersionM.xlsx", "Low" : "VersionS.xlsx"}


#### Database Credentials (Strictly adhere to the data types for the following)
SQL_SERVER_HOST = "hostName"
SQL_SERVER_PORT = XXXX
SQL_SERVER_DATABASE = "dbNameComesHere"   
SQL_SERVER_USERNAME = "Username"
SQL_SERVER_PASSWORD = "Password"